header {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 8%;
  margin-right: 8%;
  font-family: arial;
}

.title {
  float: left;
}

div {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;

}

div img {
  width: 280px;
  height: 280px;
  margin-top: 20px;
}

.name {
  display: flex;
  justify-content: center;
  width: 200px;
  text-transform: uppercase;
  text-decoration: underline green;
  margin-top: 20px;
  font-size: 18px;
}

.email {
  display: flex;
  text-transform:uppercase;
  margin-bottom: 25px;
  margin-top: 20px;
  color: grey;
  font-size: 14px;
}

.address{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 150px;
  color: grey;
  text-transform: capitalize;
  font-size: 14px;
}

.city{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 200px;
  color: grey;
  text-transform: capitalize;
  font-size: 14px;
}

.zip{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 140px;
  color: grey;
  text-transform: capitalize;
  font-size: 14px;
}

.phone {
  display: flex;
  justify-content: center;
  text-align: center;
  color: grey;
  margin-bottom: 10px;
  font-size: 14px;
  width: 280px;
}

.social {
  display: flex;
  justify-content: center;
  width: 220px;
  color: green;
  font-size: 14px;
  margin-top: 20px;
}
